header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  transition: var(--transition-fast);
  z-index: var(--z-header);
}

header.scrolled {
  padding: 1rem 6rem;
}

header.scrolled::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid var(--clr-primary);
  border-image: linear-gradient(90deg, transparent, var(--clr-primary), transparent) 30;
  backdrop-filter: blur(20px);
}

/* MEDIA QUERIES */

@media (max-width: 576px) {
  header {
    padding: 2rem 2rem;
  }

  header.scrolled {
    padding: 1rem 2rem;
  }

  header .search-bar {
    display: none;
  }

  header .btn-main {
    display: none;
  }

  header .btn-nav {
    display: flex;
  }

  header .nav-main {
    display: none;
  }
}
