header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  transition: var(--transition-fast);
  z-index: var(--z-header);
}

header.scrolled {
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid var(--clr-primary);
  border-image: linear-gradient(90deg, transparent, var(--clr-primary), transparent) 30;
  backdrop-filter: blur(20px);
  padding: 1rem 6rem;
}

.logo {
  font-family: var(--ff-secondary);
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
}

.nav {
  display: flex;
  gap: 1.5rem;
}
