.btn-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--clr-primary);
  color: #fff;
  border: none;
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  font-size: 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--transition-fast);
  z-index: calc(var(--z-above) + var(--z-content));
}

.btn-to-top:hover {
  color: var(--clr-primary) !important;
  background: #fff !important;
}
