.movieSwiper {
  position: absolute !important;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 70vw;
  padding: 2rem 0 !important;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
}

.movieSwiper .swiper-slide {
  position: relative;
  top: -0.5rem !important;
  width: 150px !important;
  height: 200px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
