.nav li {
  list-style: none;
  transition: var(--transition-fast);
}

.nav li:hover {
  transform: scale(1.1);
}

.nav li a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: var(--transition-fast);
}

.nav li a:hover,
.nav li a.active {
  color: var(--clr-primary);
}
