.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #fff;
}

.search-bar input {
  width: 100%;
  padding: 0.5rem 2.5rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.2rem;
  background: transparent;
  backdrop-filter: blur(10px);
  color: #fff;
  outline: none;
}

.search-bar input::placeholder {
  color: #fff;
}

.search-bar ion-icon {
  position: absolute;
  left: 0.5rem;
  z-index: 10;
  padding-right: 0.5rem;
  border-right: 1px solid #fff;
}
