.trailer-modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-modal);
  transition: var(--transition-normal);
  visibility: hidden;
  opacity: 0;
}

.trailer-modal-container::after {
  content: "";
  position: absolute;
  inset: 4rem;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  z-index: -1;
}

.trailer-modal-container.active {
  visibility: visible;
  opacity: 1;
}

.trailer-modal-container button {
  position: absolute;
  top: 6rem;
  right: 6rem;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 2rem;
  transition: var(--transition-fast);
  display: flex;
  align-items: center;
  justify-content: center;
}

.trailer-modal-container button:hover {
  color: var(--clr-primary);
  transform: scale(1.1);
}
